@import url("../vendor/normalize.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");
@font-face {
  font-family: ;
  src: url("../vendor/fonts/Inter-4.0/web/Inter-Black.woff2");
  font-size: "inter";
  font-weight: normal;
}
@font-face {
  font-family: ;
  src: url("../vendor/fonts/Inter-4.0/web/Inter-Bold.woff2");
  font-size: "inter";
  font-weight: bold;
}
